@model SEMaker.Models.Event

@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>
<h4>Events</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sport" class="control-label"></label>
                <select asp-for="Sport" class="form-control">
                    <option value="">-- Select Sports --</option>
                    <option value="Chess">Chess</option>
                    <option value="Swimming">Swimming</option>
                    <option value="Running">Running</option>
                    <option value="Ski">Ski</option>
                    <option value="Tennis">Tennis</option>
                    <option value="Boxing">Boxing</option>
                    <option value="Gymnastics">Gymnastics</option>
                    <option value="Darts">Darts</option>
                    <option value="Golf">Golf</option>
                </select>
                <span asp-validation-for="Sport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Places" class="control-label"></label>
                <input asp-for="Places" type="number" id="number" value="20" min="0" max="9999" />
                <span asp-validation-for="Places" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Выберите дату:</label><br />
                <input class="datefield" type="date" value="2000-01-01"
                       min="1919-01-01" max="2222-01-01" asp-for="Date" />
                <script>
                    var today = new Date();
                    var dd = today.getDate();
                    var mm = today.getMonth() + 1; //January is 0!
                    var yyyy = today.getFullYear();
                    if (dd < 10) {
                        dd = '0' + dd
                    }
                    if (mm < 10) {
                        mm = '0' + mm
                    }

                    today = yyyy + '-' + mm + '-' + dd;
                    document.getElementsByClassName("datefield").setAttribute("min", today);
                    document.getElementsByClassName("datefield").setAttribute("value", today);
                </script>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}  