@model SEMaker.Models.User
@{
    ViewData["Title"] = "Premium";
}
<h2>Premium</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Активен:
        </dt>
        <dd>
            @if (User.Identity.IsAuthenticated)
            {
                var objevents = new DataAccessLayer();
                if (objevents.GetUserData(User.Identity.Name).Premium == 1)
                {
                    <nobr>Да</nobr>
                }
                else
                {
                    <nobr>Нет</nobr>
                }
            }
        </dd>
        <dt>
            Дата окончания:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Buy">Купить Premium</a>
</div>
